

.theme-text {

	&.title0 {
		.theme-text-title {
			display: none;
		}
	}

}


.text-sm {
	font-size: $fssmall;
}

.text-lg {
	font-size: $fsbig;
}

.text-xlg {
	font-size: $fxsbig;
}


.text-lighten {
	color: $textcolor_lighten;
}

.text-darken {
	color: $textcolor_darken;
}


.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}


@media only screen and (max-width: $tablet_width){

	.mb2-pb-column.text-right {
		text-align: inherit !important;
	}
}


.theme-color {

	&.color-default {
		color: $accent1;
	}

	&.color-success {
		color: $color_success;
	}

	&.color-warning {
		color: $color_warning;
	}

	&.color-danger {
		color: $color_danger;
	}

	&.color-info {
		color: $color_info;
	}

	&.color-inverse {
		color: $accent2;
	}
}


@media only screen and (max-width: $tablet_width){

	.theme-text {

		&.textsize-6 {
			font-size: 5.2rem !important;
		}

		&.textsize-5 {
			font-size: 4.2rem !important;
		}

		&.textsize-4 {
			font-size: 3.5rem !important;
		}

		&.textsize-3 {
			font-size: 3rem !important;
		}

	}

}


@media only screen and (max-width: $phone_width){

	.theme-text {

		&.textsize-6 {
			font-size: 4.5rem !important;
		}

		&.textsize-5 {
			font-size: 3.5rem !important;
		}

		&.textsize-4 {
			font-size: 3rem !important;
		}

		&.textsize-3,
		&.textsize-2 {
			font-size: 2rem !important;
		}

	}

}
